<div class="flex"  >
        <div class="item" style="width: 450px;">
            <h2><%= job.role %></h1>
            <p><%= job.company %></p>
            <p>Job Description- <%= job.jd %></p>
            <p>Batch- <%= job.yop %></p>
            <p>Skills- <%= job.skills %></p>
            <p>Salary Offered(CTC)- <%= job.ctc %></p>
            <p>Experience- <%= job.exp %></p>
            <a href="<%= job.link %>"><button value="scheduleInterview" class="submit">Apply</button></a>
        </div>
</div>